# RStudio project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Temporary data files (optional)
*.csv
*.tsv
*.zip

# Temporary protobuf files (optional)
*.pb

# Temporary images (optional)
*.png
